.glare-hover {
  width: var(--gh-width);
  height: var(--gh-height);
  background: var(--gh-bg);
  border-radius: var(--gh-br);
  border: 1px solid var(--gh-border);
  overflow: hidden;
  position: relative;
  display: grid;
  place-items: center;
}

.glare-hover-glow {
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    var(--gh-angle),
    hsla(0, 0%, 0%, 0) 35%,
    var(--gh-rgba) 50%,
    hsla(0, 0%, 0%, 0) 65%
  );
  pointer-events: none;
  z-index: 10;
  will-change: transform;
  transform: translate3d(-50%, -50%, 0);
  transition: transform var(--gh-duration) ease;
}

.glare-hover:hover {
  cursor: pointer;
}

.glare-hover:hover .glare-hover-glow {
  transform: translate3d(50%, 50%, 0);
}

.glare-hover--play-once .glare-hover-glow {
  transition: none;
}

.glare-hover--play-once:hover .glare-hover-glow {
  transition: transform var(--gh-duration) ease;
  transform: translate3d(50%, 50%, 0);
}
